/.github                export-ignore
/drush                  export-ignore
/tests                  export-ignore
/phpunit.xml.dist       export-ignore
/.phpunit.result.cache  export-ignore
/.devcontainer          export-ignore
/phpstan.neon           export-ignore