parameters:
    level: 6
    scanDirectories:
        - vendor/drush/drush/src-symfony-compatibility
    ignoreErrors:
        - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
		