<!-- Copy and rename to phpunit.xml. Customize as needed. -->
<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="DrushUsersCommands Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>

  <php>
    <!--DB User must have create/drop permissions-->
    <var name="TEST_DB_URL" value="mysql://root@localhost"/>
  </php>
</phpunit>
